<h1>Question</h1>

<form action="http://localhost:3000/answer">
  <input type="text" name="question_user" placeholder="What's your question ?">
  <input type="submit" value="ask"class="btn_blue">
</form>


